@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Rubik:400,700');


/* global */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-family: 'Rubik', Helvetica, sans-serif;
}

/* nav */
.branding {
  font-family: 'Abril Fatface', Helvetica, sans-serif;
}

/* home */
.home-container {
  min-height: calc(100vh - 106px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-message {
  position: relative;
  border-right: 1px solid;
  border-left: 1px solid;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  transition: all 0.3s;
}
.welcome-message:hover {
  padding-left: 25px;
  padding-right: 25px;
}
.welcome-message h1 {
  font-family: 'Abril Fatface', Helvetica, sans-serif;
  letter-spacing: 1px;
}
.job-title-first {
  position: absolute;
  right: -30%;
  bottom: 40%;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.job-title-second {
  position: absolute;
  left: -35%;
  bottom: 40%;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.welcome-message:hover .job-title-first {
  transform: rotate(0deg);
  right: 50%;
  bottom: 100%;
  color: deeppink;
}
.welcome-message:hover .job-title-second {
  transform: rotate(0deg);
  left: 35%;
  bottom: -10%;
}



/* about */
.about-container {
  min-height: calc(100vh - 106px);
  padding: 20px 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.about-content h2 {
  font-family: 'Abril Fatface', Helvetica, sans-serif;
}

.about-content p {
  font-size: 16px;
}

.about-image {
  text-align: center;
  position: relative;
  display:flex;
  align-items: center;
  justify-content:center;
}
.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255,0.8);
}
.dragon-img {
  max-width: 80%;
}
.icon {
  font-size: 60px;
  margin: 20px 10px 10px 10px;
  transition: 0.2s;
}
.icon:hover {
  transform: translateY(10px);
}
.icon-linkedin {
  color: #0077B5;
}
.icon-github {
  color: #333;
}
.icon-static-site {
  color: deeppink;
}
.about-content p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}
p.bio {
  padding-left: 20px;
  border-left: 3px solid rgba(0,0,0,0.5);
  margin-top: 20px;
  margin-bottom: 25px;
}
p.tech {
  padding-right: 20px;
  border-right: 3px solid rgba(0,0,0,0.5);
}


/* projects */
.projects-container {
  min-height: calc(100vh - 106px);
}


/* contact */
.contact-container {
  min-height: calc(100vh - 106px);
}




/* footer */

.footer {
  height: 50px;
  border-top: 2px solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.footer p {
  font-size: 12px;
  line-height: 3;
}
.footer span {
  color: deeppink;
}

/* media queries */


@media screen and (max-width: 480px){

}
@media screen and (max-width: 768px){
  /* about */
  .about-container {
    /* min-height: calc(100vh - 106px); */
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  p.tech {
    margin-bottom: 50px;
  }
}

















/*  */
